<% extend('../layouts/dashboard-layout') %>

<div style="display: none;" id="uid"><%= uid %></div>

<div class="row">
    <div class="col-sm-6">
            <div style="margin-bottom: 2%;" class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Don't have Ethereum Account ?</h5>
                        <p class="card-text">Our insurances are built upon ethereum, so you must have an etherum address.</p>
                        <button id="createAccountBtn" class="btn btn-warning" data-toggle="modal" data-target="#createAccount">Create Account</button>
            
                        <!-- Modal -->
                        <div class="modal fade" id="createAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Your Account Detail</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div id="newAddress" class="modal-body">
                                    
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="saveNewAddress" type="button" class="btn btn-primary saveBtn" data-dismiss="modal">Save database</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Make sure to store your private key securely !!
                    </div>
            </div>
    </div>
    <div class="col-sm-6">
            <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Or import your private keys ?</h5>
                        <p class="card-text">If you already have ethereum address, you can import private key to our plateform.</p>
                        <div class="input-group">
                            <input id="import" type="text" class="form-control" placeholder="Enter your private key here ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-outline-danger" type="button" data-toggle="modal" data-target="#getAccount" id="getAccountBtn">Get Account</button>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="getAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Your Account Detail</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div id="getAddress" class="modal-body">
                                        
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="saveGetAddress" type="button" class="btn btn-primary saveBtn" data-dismiss="modal">Save database</button>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                            Again, We won't store private keys for you !!
                    </div>
            </div>
    </div>

</div>

<hr/>

<div style="text-align: center;">
    <h1>Address List</h1>
    <div>
        <ul id="addressList" class="list-group">
            <% for(var prop in addressList) { %>
                <li style="list-style-position: inside; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="list-group-item"><a href="https://ropsten.etherscan.io/address/<%= addressList[prop] %>" target="_blank"><%= addressList[prop] %></a></li>
            <% } %>
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js" integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>
<script src="/javascripts/account.js"></script>