<% extend('./layouts/layout') %>

<div class="row my-4 justify-content-center">
  <div class="col-md-9">
    
      <div class="card mb-3">
        <div class="card-body">
          <a href="/post"> <h2 class="text-primary">Motor Crash Insurance</h2></a>
          <div class="d-flex flex-row text-secondary small">
            <div class="p-2"><span class="fa fa-clock-o"></span> 2019/10/01</div>
            <div class="p-2"><i class="fa fa-tag" aria-hidden="true"></i> 
              <a href="#" class="text-info">
                Property Insurance
              </a>
            </div>
          </div>
          <div>
              This insurance product is dedicated to the instant claims of accidents, and uses the Ethereum smart contract to achieve the automatic claims mechanism. In addition, the accident film uploaded by the user is automatically determined by the image processing technology.
          </div>
        </div>
      </div>
    
  </div>
</div>